In [2]:
import numpy as np
import pandas as pd

In [3]:
s=pd.Series([1,2,3,np.nan,9,8])
dates=pd.date_range("20240501",periods=10)
dates

df=pd.DataFrame(np.random.randn(10,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2024-05-01  0.966660  0.343286 -0.456215  0.512733
2024-05-02 -0.077229  1.164225 -1.353119  1.495300
2024-05-03  1.633625 -0.279848 -2.713652 -1.494575
2024-05-04  0.252859  0.635852 -0.316510 -0.092863
2024-05-05  1.544462 -1.010753  0.776725 -0.879106
2024-05-06 -1.145845 -0.911478 -0.016490  1.549710
2024-05-07  0.035233  0.528649  0.152802 -0.064962
2024-05-08 -0.645410 -0.652854  0.380231  0.252525
2024-05-09 -0.325108  0.675415  0.407921 -0.757322
2024-05-10 -0.616604 -0.669579  1.375972  0.600873

In [4]:
df2=pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20240501"),
        "C": pd.Series(1,index=list(range(4)),dtype="float32"),
        "D": np.array([3]*4,dtype="int32"),
        "E": pd.Categorical(["test","train","test","train"]),
        "F":"foo",
    }
)
# print(df2)
df2.dtypes
df2.head(3)
# df2.tail()
df2.index
df2.columns
df2.to_numpy()
aa=df.to_numpy()
df.describe()
df.sort_index(axis=1,ascending=False)
df.sort_values(by="D")

                   A         B         C         D
2024-05-03  1.633625 -0.279848 -2.713652 -1.494575
2024-05-05  1.544462 -1.010753  0.776725 -0.879106
2024-05-09 -0.325108  0.675415  0.407921 -0.757322
2024-05-04  0.252859  0.635852 -0.316510 -0.092863
2024-05-07  0.035233  0.528649  0.152802 -0.064962
2024-05-08 -0.645410 -0.652854  0.380231  0.252525
2024-05-01  0.966660  0.343286 -0.456215  0.512733
2024-05-10 -0.616604 -0.669579  1.375972  0.600873
2024-05-02 -0.077229  1.164225 -1.353119  1.495300
2024-05-06 -1.145845 -0.911478 -0.016490  1.549710

In [31]:
# df[0:3]
# df.loc[dates[0]]
df.loc[dates[0],"A"]
df[df["A"]>0]
df3=df.copy()
df["E"]=["ss","sh"]*5
# df[df["A"].isin([0.354107,0.767608])]
df
# s1=pd.Series([1,2,3,4,5,6],index=pd.date_range("20250501",periods=6))
# s1
import os
df_bks=pd.read_excel(os.listdir(".")[1])
df_bks.dropna(subset=["Name ","Datum"])


# df_bks_filter = df_bks[df_bks['Name '].str.contains('RM_stacked')]

str1="jjjsdfldslf"
str2="dfld"
# a= str2 in str1
# a

# df_bks
# df_bks.columns

True